.page_container {
  width: 100%;
  height: 100%;
}

.full_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.img_container {
  width: 100%;
  height: 200px;
}

.paper_title {
  font-weight: bold;
  color: #dd2026;
}

.content_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: 10px;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #dd2026 !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #dd2026 !important;
}
.care_btn {
  background-color: #dd2026 !important;
  color: white !important;
  border: none;
}

.form_title {
  color: #dd2026;
  font-weight: bold;
}
.no_title_text {
  margin-inline-start: 20px;
  align-self: center;
  font-weight: bold;
  text-align: center;
}

.MuiStepper-horizontal {
  background-color: #fbfbfb !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container {
  width: 50%;
  height: 400px;
}

.react-tel-input .form-control {
  width: 100% !important;
}

.alice-carousel__wrapper {
  max-height: 890px !important;
}
